body {
  background-color: cyan;
}
.start {
  color: hotpink;
}
.start {
font-family: "Comic Sans MS", "Comic Sans", cursive;}
.back {font-size: 35px;}
/*animation start*/
.start {
  -webkit-animation: rotation 4s infinite linear;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/*animation end*/
